@use 'variables' as v;

footer {
  background: v.$primary-color;
  color: v.$surface-color;
  gap: 35px;
  padding: 42px 58px;
  h4 {
    margin: 0 0 18px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.logo-footer {
  display: flex;
  align-items: center;
  text-decoration: none;
  img {
    height: 62px;
    transition: all 0.35s ease;
  }
  &:hover img {
    transform: scale(1.05);
  }
}

.footer-brand {
  display: flex;
  gap: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
  align-items: center;
  @media (max-width: 768px) {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 18px;
  a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.4s ease;
    &:hover {
      background: v.$secondary-color;
      transform: translateY(-8px);
      box-shadow: 0 15px 35px rgba(227, 2, 124, 0.35);
    }
    &:hover img {
      transform: rotate(8deg) scale(1.15);
    }
  }
  img {
    width: 30px;
    filter: brightness(0) invert(1);
    transition: 0.4s ease;
  }
}

.btn-whatsapp {
  height: 56px;
  padding: 0 28px;
  background: v.$green !important;
  color: v.$surface-color !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  transition: 0.35s ease;

  img {
    width: 26px;
    transition: 0.35s;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(37, 211, 102, 0.35);
  }

  &:hover img {
    transform: rotate(12deg) scale(1.1);
  }
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding: 1rem 0;
  margin-top: 1.5rem;
  color: rgba(255, 255, 255, 0.66);
  font-size: 16px;
}

.footer-content {
  @media (max-width: 468px) {
    width: 100%;
    text-align: center;
  }
}
