<section class="transicion-galeria py-4">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6" animacion="fade-up">
        <div class="text-center mb-2" animacion="fade-up">
          <span class="badge-social">
            <mat-icon color="accent">photo_library</mat-icon>
            NUESTRA GALERÍA
          </span>
        </div>
        <p class="subtitle-seccion" align="center" animacion="slide-left">
          Porque la transformación de nuestro distrito se demuestra con hechos, te invitamos a
          recorrer nuestra galería y conocer el trabajo real que venimos realizando junto a los
          vecinos de Pueblo Libre.
        </p>
        <button mat-flat-button color="primary" class="btn-impacto-galeria" (click)="irGaleria()">
          <span class="btn-shimmer-effect"></span>
          <mat-icon>photo_library</mat-icon>
          <span class="text-btn">Ver Galería</span>
        </button>
      </div>
    </div>
  </div>
</section>
