<app-main-carrucel></app-main-carrucel>
<app-historia></app-historia>

<section id="propuestas">
  <div class="container" animacion="fade-up">
    <h2 class="titulo-propuestas">Mis principales propuestas</h2>
    <div class="cards-propuestas">
      <mat-card class="texto-propuestas" *ngFor="let p of propuestas">
        <mat-icon>{{ p.icon }}</mat-icon>
        <h3>{{ p.title }}</h3>
        <ul>
          <li *ngFor="let item of p.items">• {{ item }}</li>
        </ul>
      </mat-card>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-4">
      <button mat-flat-button color="primary">
        <mat-icon>add_box</mat-icon>
        MÁS PROPUESTAS
      </button>
    </div>
  </div>
</section>
<app-videos-carrucel></app-videos-carrucel>

<app-preguntas></app-preguntas>
<app-conversatorio></app-conversatorio>

<!-- <section class="thanks">
  <mat-icon>check_circle</mat-icon>
  <div>
    <h2>¡Gracias por participar!</h2>
    <p>
      José Casas y su equipo revisarán tu consulta y te responderemos a la brevedad. Tu opinión nos
      ayuda a tomar mejores decisiones.
    </p>
  </div>
  <mat-icon>forum</mat-icon>
</section> -->
