<app-main-carrucel></app-main-carrucel>
<app-historia></app-historia>

<section id="propuestas">
  <div class="container">
    <h2 class="titulo-seccion" animacion="slide-right">Mis propuestas</h2>
    <p class="subtitle-seccion" align="center" animacion="slide-left">
      Basta de promesas. Pueblo Libre merece un cambio real: seguridad tecnológica, educación y el
      orden que tu familia exige.
    </p>
    <div class="cards-propuestas">
      <mat-card class="texto-propuestas" *ngFor="let p of propuestas" animacion="zoom-in">
        <mat-card-header>
          <div mat-card-avatar class="icon-container">
            <mat-icon>{{ p.icon }}</mat-icon>
          </div>
          <mat-card-title
            ><h3>{{ p.title }}</h3></mat-card-title
          >
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let item of p.items">
              <mat-icon matListItemIcon class="bullet-icon">chevron_right</mat-icon>
              <span matListItemTitle class="bullet-text">{{ item }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<app-videos-carrucel></app-videos-carrucel>

<app-preguntas></app-preguntas>
<app-conversatorio></app-conversatorio>

<ng-template #modalBienvenida>
  <mat-dialog-content align="center" class="dialog-home">
    <picture>
      <source media="(max-width: 768px)" srcset="assets/images/fondos/fondo5-vertical.jpg" />
      <img src="assets/images/fondos/fondo5.jpg" class="modal-banner-image" alt="Bienvenido" />
    </picture>
    <button mat-flat-button class="whatsapp-overlay-button" (click)="openWhatsApp()">
      <mat-icon svgIcon="whatsapp"></mat-icon>
      <span class="button-text">ÚNETE AL WHATSAPP</span>
    </button>
  </mat-dialog-content>
</ng-template>
