<div class="mapa-componentes">
  <mat-card class="card-mapa mat-elevation-z8">
    <mat-card-content class="content-mapa">
      <div id="map" class="leaflet-map"></div>

      <mat-card class="info-card mat-elevation-z10" *ngIf="selectedMarker">
        <div class="info-content">
          <div class="imagen-card">
            <img [src]="selectedMarker.foto" alt="foto" />
          </div>
          <div class="content-card">
            <mat-card-header>
              <!-- <mat-icon color="accent"> location_on </mat-icon> -->
              <mat-card-title>
                {{ selectedMarker.titulo }}
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              @if (selectedMarker.fecha != '') {
                <p class="m-0">
                  {{ selectedMarker.fecha }}
                </p>
              } @else {
                <p class="p-color m-0">Por definir, 2026</p>
              }
              <a [href]="selectedMarker.link" target="_blank">Ver más fotos y videos</a>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
