<section id="preguntas">
  <div class="container pb-4">
    <div class="texto-preguntas">
      <h2>Pregúntale a José Casas</h2>
      <p>Tu opinión es muy importante. Escríbenos tu pregunta, propuesta o preocupación.</p>
    </div>
    <div class="contenido-formulario">
      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Nombre(s)</mat-label>
            <input matInput placeholder="Escribe tu nombre" />
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Escribe tus apellidos" />
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="9XXXXXXXX" />
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="tu@correo.com" />
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Sector donde vives</mat-label>
            <mat-select>
              <mat-option>Sector 1</mat-option>
              <mat-option>Sector 2</mat-option>
              <mat-option>Sector 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Tema de tu consulta</mat-label>
            <mat-select>
              <mat-option>Seguridad</mat-option>
              <mat-option>Orden</mat-option>
              <mat-option>Desarrollo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width mat-body">
            <mat-label>Escribe tu pregunta</mat-label>
            <textarea
              matInput
              rows="3"
              placeholder="Cuéntanos tu pregunta, propuesta o preocupación..."
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-checkbox> Acepto el tratamiento de mis datos personales. </mat-checkbox>
        </div>

        <div class="mt-4" align="center">
          <button mat-flat-button color="primary">
            <mat-icon>send</mat-icon>
            ENVIAR MI PREGUNTA
          </button>
        </div>
      </div>
      <div class="voice">
        <mat-icon>groups</mat-icon>
        <h2>Tu voz cuenta</h2>
        <p>Queremos escucharte para construir juntos el Pueblo Libre que todos merecemos.</p>
        <img src="assets/images/fondos/pueblo_libre.png" alt="Pueblo Libre" />
      </div>
    </div>
  </div>
</section>
