$primary-color: #143f94;
$secondary-color: #e3027c;
$surface-color: #fefefe;
$error-color: #d32f2f;
$gris-oscuro: #444;
$green: #20c765;

$radius: 12px;
$text: #222;
$transition: all 0.35s ease;
$section-color: #f2f8ff;
$secondary-badge: #f0dde7;
