$primary-color: #143f94;
$secondary-color: #e3027c;
$surface-color: #fefefe;
$error-color: #d32f2f;
$gris-oscuro: #444;
$whatsapp-color: #20c765;
$facebook-color: #1877f2;
$instagram-color: #e1306c;
$tiktok-color: #010101;

$radius: 12px;
$text: #222;
$transition: all 0.35s ease;
$section-color: #f2f8ff;
$secondary-badge: #f0dde7;

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
